<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mis-inmuebles"></ion-back-button>
    </ion-buttons>

    <ion-title color="secondary">INMUEBLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> LOCALIZACIÓN </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-label position="floating"> TITULO </ion-label>
                  <ion-input [value]="inmueble.titulo" disabled> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item class="ion-margin-top ion-margin-bottom">
                  <ion-label position="floating">Estado</ion-label>
                  <ion-input [(ngModel)]="inmueble.estado" disabled></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-img
                    *ngIf="inmueble.foto"
                    src="{{ api }}/img/{{ inmueble.foto.split('/').pop() }}"
                  ></ion-img>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-label position="floating"> INMOBILIARIA </ion-label>
                  <ion-input [(ngModel)]="inmueble.inmobiliaria" disabled>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-img src="{{api}}/{{agente.foto}}" style="width: 256px">
                </ion-img>
                <ion-item>
                  <ion-label position="floating"> AGENTE </ion-label>
                  <ion-input
                    value="{{agente.nombre}} {{agente.apellido}}"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-xs="12" size-xl="4">
                <ion-img src="{{api}}/{{notario.foto}}" style="width: 256px">
                </ion-img>
                <ion-item>
                  <ion-label position="floating"> NOTARIO </ion-label>
                  <ion-input
                    value="{{notario.nombre}} {{notario.apellido}}"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="4">
                <ion-item>
                  <ion-label position="floating"> NOTARIO </ion-label>
                  <ion-img> {{api}}/{{notario.foto}} </ion-img>
                  <ion-input
                    value="{{notario.nombre}} {{notario.apellido}}"
                    disabled
                  >
                  </ion-input>
                  <ion-input disabled value="{{notario.correo}}"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> DETALLES </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-slides pager="true" [options]="slideOpts">
                  <ion-slide *ngFor="let imagen of imagenes">
                    <img src="{{api}}/{{imagen.ruta}}" />
                  </ion-slide>
                </ion-slides>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="0" size-xl="9"></ion-col>
              <ion-col size-xs="12" size-xl="3">
                <ion-button
                  expand="full"
                  (click)="verDireccion()"
                  expand="block"
                  >Ver Direccion</ion-button
                >
              </ion-col>
            </ion-row>

            <ion-row size-xs="12" size-xl="6">
              <ion-col>
                <ion-item>
                  <ion-label position="floating"> PISOS </ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="inmueble.pisos"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="6">
                <ion-item>
                  <ion-label position="floating"> CUARTOS </ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="inmueble.cuartos"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size-xs="12" size-xl="6">
                <ion-item>
                  <ion-label position="floating"> METROS CUADRADOS </ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="inmueble.metros_cuadrados"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="6">
                <ion-item>
                  <ion-label position="floating"> DESCRIPCION </ion-label>
                  <ion-textarea
                    placeholder="Descripcion del inmueble"
                    [autoGrow]="true"
                    [(ngModel)]="inmueble.descripcion"
                    disabled
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row size-xs="12" size-xl="6">
              <ion-col>
                <ion-item *ngIf="inmueble.precio_renta>0">
                  <ion-label position="floating"> PRECIO RENTA </ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="inmueble.precio_renta"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="3">
                <ion-item *ngIf="inmueble.precio_venta>0">
                  <ion-label position="floating"> PRECIO VENTA </ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="inmueble.precio_venta"
                    disabled
                  >
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-xs="12" size-xl="3">
                <ion-button color="danger" expand="full" (click)="quitar()">
                  CANCELAR NEGOCIACIÓN
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
